extends layout

block content 
  h1= title
  include form-err
  
  form(action="/books/new" method="post")
      include form
      p
        input(type='submit' value='Create New Book')
      p
        a.button(href='/') Cancel
  



